<div style="display: flex;">
  <%= form.fields_for :multi_level do |multi_level_form| %>
    <div>
      <%= multi_level_form.label t('recording_methods.multi_level.left_end_label'), style: "display: block" %>
      <%= multi_level_form.text_field :left_end_label, value: recording_method.class == RecordingMethod::MultiLevel ? recording_method.left_end_label : nil %>
    </div>
    <div>
      <%= multi_level_form.label t('recording_methods.multi_level.right_end_label'), style: "display: block" %>
      <%= multi_level_form.text_field :right_end_label, value: recording_method.class == RecordingMethod::MultiLevel ? recording_method.right_end_label : nil %>
    </div>
    <div>
      <%= multi_level_form.label t('recording_methods.multi_level.level'), style: "display: block" %>
      <%= multi_level_form.number_field :level, in: 3..10, step: 1, value: recording_method.class == RecordingMethod::MultiLevel ? recording_method.level : nil, disabled: form_type == 'edit' %>
    </div>
  <% end %>
</div>
