<div id="<%= dom_id cat %>">
  <div>
    <strong><%= t('.name') %></strong>
    <%= cat.name %>
    <%= link_to t('.edit'), edit_cat_path(cat) %>
    <%= button_to t('.delete'), cat, method: :delete %>
  </div>
</div>
