<%= form_with(model: cat) do |form| %>
  <%= render 'validation_error_message', resource: cat %>

  <div style="display: flex">
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.submit %>
    <%= link_to t('.cancel'), cats_path %>
  </div>
<% end %>
