<h1><%= t('.title') %></h1>

<div id="cats">
  <% @cats.each do |cat| %>
    <div id="<%= dom_id cat %>" style="display: flex">
      <%= cat.name %>
      <%= link_to t('.setting'), cat_path(cat) %>
      <%= button_to t('.delete'), cat, method: :delete %>
    </div>
  <% end %>
</div>

<%= link_to t('.new_cat'), new_cat_path %>
